name: Test python package

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                python-version: ["3.10", "3.11", "3.12"]

        steps:
            - uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
                  cache: "pip"
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install -e .[test]
            - name: Test CLI
              run: |
                  redis-canal --help
            - name: Test with pytest
              run: |
                  pytest -vv --cov-config=.coveragerc --cov-report term-missing --cov=redis_canal/ tests
            - name: Upload coverage reports to Codecov
              if: matrix.python-version == '3.10'
              uses: codecov/codecov-action@v4.0.1
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
